<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>问题列表展示</title>
</head>
{#<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />#}
<body>
<div>
<h1 style="color: #5c79dc">王雯璐超级超级漂亮！！！！！！！！！！</h1>

<h2 align="center" style="color: darkviolet">王雯璐超级超级超级可爱！！！！！！！！！！</h2>
</div>
<div>
    {% if latest_question_list %}
        <ul>
            <p>王雯璐超级超级漂亮！！！！！！！！！！</p>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                <a>{{ question.author }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are avalible....</p>
    {% endif %}
</div>
<div>
    <a href="{% url 'polls:input' %}"> 输入问题 </a>
</div>

<div>
    <tbody>
            <tr><th>问题描述    </th>  <th>问题类型 </th>  <th>提出人  </th>
            </tr>

    </tbody>
</div>


</body>