<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a test</title>
    <h1>{{ test }}</h1>
</head>
<body>
<div>
{% if user.is_authenticated %}
    <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
      <button class="btn btn-default"><a href="{% url 'polls:logout' %}?next={{ request.path }}">注销登录</a></button>
{% else %}
  <p>你还没有登录，请
    <button class="btn btn-default"><a href="{% url 'polls:login' %}?next={{ request.path }}">登录</a></button>
    或者
    <button class="btn btn-default"><a href="{% url 'polls:register' %}">注册</a></button>
    <button class="btn btn-default"><a href="{% url 'polls:change_password' %}?next={{ request.path }}">修改密码</a></button>
  </p>
{% endif %}
</div>

</body>
</html>